<<<<<<< HEAD
.intro__list {
    margin: 33px 0 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
=======
.intro__list {
    margin: 33px 0 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
>>>>>>> 322d83ce4888f94e010de66ac36308bf80e97cb1
}