<<<<<<< HEAD
.lead {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 56px 0 0;
}

@media screen and (max-width: 1024px) {
    .lead {
        padding: 48px 0 0;
    }
}

=======
.lead {
    padding: 48px 48px 0;
}
>>>>>>> 322d83ce4888f94e010de66ac36308bf80e97cb1
