<<<<<<< HEAD
.place__paragraph {
    
    margin: 26px 0 0;
    font-size: 18px;
    line-height: 1.63;
    color: #FFFFFF;
    font-weight: 400;
}

.place__paragraph:first-of-type {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px; 
        margin-top: 25px;
    }
}
=======
.place__paragraph {
    margin: 27px 0 0;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
    
}

.place__paragraph:first-of-type {
    margin: 48px 0 0;
}
>>>>>>> 322d83ce4888f94e010de66ac36308bf80e97cb1
