<<<<<<< HEAD
.footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

@media screen and (max-width: 710px) {
    .footer__copyright {
        margin-left: 16px;
        line-height: 14px;
    }
=======
.footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
>>>>>>> 322d83ce4888f94e010de66ac36308bf80e97cb1
