<<<<<<< HEAD
.lead__image {
    width: 984px;
    max-width: 100vw;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        width: 928px;
    }
=======
.lead__image {
    width: 928px;
    height: 580px;
>>>>>>> 322d83ce4888f94e010de66ac36308bf80e97cb1
}