<<<<<<< HEAD
.intro__text {
    margin: 40px 0 0;
    max-width: 690px;
    font-size: 16px;
    line-height: 1.63;
    font-weight: 400;
    color: #FFFFFF;
}


@media screen and (max-width: 720px) {
    .intro__text {
        font-size: 16px;
        line-height: 1.63;
    }
}
=======
.intro__text {
    margin: 40px 0 0;
    width: 690px;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
}
>>>>>>> 322d83ce4888f94e010de66ac36308bf80e97cb1
