<<<<<<< HEAD
.cover {
    padding-top: 92px;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 768px) {
    .cover {
        padding-top: 88px;
    }
}

@media screen and (max-width: 560px) {
    .cover {
        padding-top: 66px;
    }
}
=======
.cover {
    padding-top: 92px;
    position: relative;
}

>>>>>>> 322d83ce4888f94e010de66ac36308bf80e97cb1
