<<<<<<< HEAD
.intro__title {
    margin: 0;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    max-width: 690px;
}

@media screen and (max-width: 720px) {
    .intro__title {
        width: 288px;
        font-size: 32px;
        line-height: 1.09;
    }
=======
.intro__title {
    margin: 0;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
>>>>>>> 322d83ce4888f94e010de66ac36308bf80e97cb1
}